{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
AMATVR
{% endblock %}

{% block main_content %}
<p class="titre">
  QVIS QVEM AMAT ? - LIBER II
</p>
{% if priorsent %}
prior sententia : {{ priorsent }}<br/>
solutio : {{ solutio }} <br/>
{% if recte %}
<div class="juste">RECTE !</div>
{% else %}
<div class="faux"> Errauisti. Respondisti {{ resp }}</div>
{% endif %}
{{ consec }} prius {{ prius }}.
{% endif %}
<p class="question">
  {{ sententia }}
</p>
<form method="post">
  <p class="question">
    {% csrf_token %}
    {{ quaestio|safe }}
    <!--
    <input class="question" type="text" name="rs"/>
    a/ab <input type="text" name="ra/> 
    -->
    <input type="submit" value=" Num recte dixi ? "/>
    <input type="hidden" value="{{ lemme }}|{{ quaestio }} ?" name="priorQ"/>
    <input type="hidden" value="{{ schema }}" name="schema"/>
    <input type="hidden" value="{{ sententia }}" name="priorsent"/>
  </p>
</form>

{% endblock %}
