{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
EST-GEN
{% endblock %}

{% block main_content %}
<p class="titre">
QVIS QVID EST CVIVS ?
</p>
{% if galPriorsent %}
prior sententia : {{ latPriorsent }}<br>
{{ gallice }} : {{ galPriorsent }}
{% if recte %}
<div class="juste">RECTE !</div>
{% else %}
<div class="faux">Errauisti. Respondisti : {{ r }}</div>
{% endif %}
({{ consec }} prius {{ prius }})
{% endif %}

<p class="question">
   {{ sententia }}
</p>
<form method="post">
  {% csrf_token %}

  <p class="question">
    <select name="respS">
      {% for el in quis %}
      <option value="{{ el }}">{{ el }}</option>
      {% endfor %}
    </select>
    {{ est }}
    <select name="respAttr">
      {% for el in mancipiaFr %}
      <option value="{{ el }}">{{ el }}</option>
      {% endfor %}
    </select>
    {{ de }}
    <select name="respG">
      {% for el in quis %}
      <option value="{{ el }}">{{ el }}</option>
      {% endfor %}
    </select>&nbsp;
    <input type="submit" value=" Num recte dixi ? ">
    <input type="hidden" name="schema" value="{{ schema }}">
    <input type="hidden" name="latPriorsent" value="{{ sententia }}">
  </p>
</form>
{% endblock %}
