{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
QUIS QUEM AMAT ?
{% endblock %}

{% block main_content %}
<p class="titre">
QVIS QVEM AMAT ?
</p>
{% if phprec %}
{{ phrase_precedente }}<br>
{{ mot_prec }}
{% if recte %}
<div class="juste">{{ juste }}</div>
{% else %}
<div class=\"faux\">{{ faux_reponse }} {{ respF }}, {{ respK }}.</div>
{% endif %}
({{ consec }} prius {{ prius }})
{% endif %}

<p class="question">
   {{ phrase }}
</p>
<form method="post">
  {% csrf_token %}

  <p class="question">
    {{ mot_est }}
    <select name="respF">
      {% for el in fonctions %}
      <option value="{{ el }}" {{el.selected}}>{{ el }}</option>
      {% endfor %}
    </select>
    <br/>
    {{ en_latin }}
    
    <select name="respK">
      {% for el in cas %}
      <option value="{{ el }}" {{ el.selected }} >{{ el }}</option>
      {% endfor %}
    </select>
    <br/>
    <input type="submit" value=" Num recte dixi ?">
    <input type="hidden" name="phprec" value="{{ phrase }}">
    <input type="hidden" name="motprec" value="{{ mot }}">

  </p>
</form>
{% endblock %}
