{% extends 'crustula/base.html' %}
{% block main_content %}
<div id="sommaire"><a href="#top">Резюме</a></div>
<p class="indente">
  Я благодарю Жака Жюльена за его дружескую помощь и терпение.
</p>
<p style="text-align: center">-oOo-</p>
<p class="hor indente">
  Дорогой латинист, начинающий или мастер, привет.
</p><p class="hor indente">
  Ты найдешь здесь сборник упражнений, которые помогут тебе в изучении латыни.
  Ссылка внизу страницы позволит тебе загрузить их и запустить на собственном PHP-сервере.
  Проверяй обновления почаще. Упражнения часто обновляются и добавляются новые.
</p>
<p class="indente">
  Здесь ты можешь найти :
</p>
<ul>
<li><a href="#niveau">
      сухарики, соответствующие твоему уровню;
    </a>
<a href="#debutant">
      начальный
    </a>
<a href="#moyen">
      средний
    </a>
<a href="#avance">
      продвинутый
    </a>
</li>
<li><a href="#morpho">
      сухарики для работы со склонениями и спряжениями;
  </a></li>
<li><a href="#lexique">
      сухарики помогающие заучивать слова;
  </a></li>
<li><a href="#syntaxe">
      сухарики помогающие освоить синтаксис;
  </a></li>
<li><a href="#texte">
      сухарики, которые помогают при чтении текста;
  </a></li>
<li><a href="#grasp">
      Метод GRASP Клода Павюра
    </a>
    Клод Павюр преподает в университете Сент-Луиса, США.
    Он изобрел этот метод, который состоит в том, что сложное предложение следует разбивать на части, легко доступные пониманию, чтобы постепенно прийти к его пониманию в изначальном виде.
  </li>
<li><a href="sommaire.ru_RU.UTF-8.html">
      перейти к полному списку упражнений
  </a></li>
</ul>
<ol type="I">
<li><a id="niveau"><b>
	СУХАРИКИ, СООТВЕТСТВУЮЩИЕ ТВОЕМУ УРОВНЮ
    </b></a>
<p class="sstitre"><a id="debutant">
	НАЧАЛЬНЫЙ
    </a></p>
<p class="indente">
      Французский язык очень близок к латинскому, поскольку заимствовал из него бо́льшую часть своего словаря.
      Однако латинский язык очень труден для понимания. Почему так?
    </p>
<p class="indente">
      Потому что не <b>порядок</b> слов позволяет важен для понимания, а <b>окончания</b> слов.
      Сухарик <a class="crustulum" href="sov">QVIS QVEM AMAT ?</a> предлагает тебе небольшие фразы, которые подготовят тебя к пониманию этого принципа.
      Отвечай не спеша и внимательно смотри на окончания слов.
    </p>
<p class="indente">
      Сухарик <a class="crustulum" href="gal">NOMINATIVUS ET ACCUSATIVUS</a> похож на предыдущий. Он позволит тебе понять два важных падежа: Nominativus и Accusativus.
      Слово, обозначающее предмет, а не его отношения с другими предметами, ставится в именительном падеже (casus Nominativus). Слово, обозначающее предмет, на который направлено какое-либо действие, ставится в винительном падеже (casus Accusativus).
    </p>
<p class="indente">
      Дальше немного сложнее: ты должен написать перевод либо с латинского на французский, либо с французского на латинский: <a class="crustulum" href="sov1">SOV bis</a>
</p>
<p class="indente">
      Сухарик <a class="crustulum non_implemente" href="amo">AMO, PRAESENS INDICATIVI</a> покажет тебе как спрягается глагол <i>amo</i> во всех лицах настоящего времени.
    </p>
<p class="indente">
      Спряжение глагола <i>sum</i>, "быть", дано в <a class="crustulum" href="sum">SUM, PRAESENS INDICATIVI</a>.
    </p>
<p class="indente">
      Слово в родительном падеже (casus GENITIVUS) часто бывает дополнением к слову в именительном падеже. Помогут разобраться тебе с родительным падежом <a class="crustulum non_implemente" href="gen">CVIVS ?</a> и <a href="est_gen">QVIS QVID EST CVIVS ?</a>
</p>
<p class="indente">
      Дательный падеж, (casus DATIVUS)  используется с глаголами, выражающими действие, направленное к этому предмету.
      Сухарик  <a class="crustulum non_implemente" href="dat">QVIS CVI QVEM COMMENDAT ?</a> поможет разобраться с дательным падежом, а <a class="crustulum non_implemente" href="dat1">DATIVVS CASVS</a> будет уже немного сложнее.
    </p>
<p class="indente">
      Сухарик  <a class="crustulum non_implemente" href="ablatif">CASUS ABLATIVUS</a> довольно сложный.
      Не старайся непременно добратьсядо пятого уровня.
    </p>
<p class="indente">
      Два сухарика помогут тебе в совершенстве усвоить систему падежей и их значений: сначала <a class="crustulum non_implemente" href="fonctions-fr">Введение в падежи: значения</a>, затем  <a class="crustulum non_implemente" href="valeurk">Quem casum ?</a>
</p>
<p class="indente">
      Теперь, когда ты знаешь падежи и их значения, следует изучить склонения:
      Начнем с <a class="crustulum" href="nag12">номинатива, аккузатива и генитива единственного числа первых двух склонений.</a>
<br/>
      Затем <a class="crustulum non_implemente" href="nag12p">те же падежи, с добавлением множественного числа</a>.
      Затем следует заучить
      <a class="crustulum non_implemente" href="voc1">
        небольшой словарик слов первых двух склонений
      </a>.
    </p>
<p class="indente">
      Тогда у тебя будет доступ к большему числу предложений:
      <a class="crustulum" href="sov2">
	Подлежащее, дополнение, глагол (+ модели на -er)
      </a>.
      Вот использование того же принципа с третьим склонением:
      <a class="crustulum non_implemente" href="sov3">
	подлежащее, дополнение, глагол (+3-е склонение)
      </a>
      Здесь <a class="crustulum non_implemente" href="sov4">подлежащее, дополнение, глагол (+ спряжение)</a> ты должен уметь спрягать глаголы в настоящем времени;
      здесь <a class="crustulum non_implemente" href="sov5">существительное, дополнение, глагол, родительный падеж, имперфект</a> ты найдешь GENITIVUS и имперфект.
    </p>
<p class="indente">
      Пришло время изучить все падежи на примерах предложений:
      <a class="crustulum non_implemente" href="terra">
	Падежи первого склонения
      </a>
      и <a class="crustulum non_implemente" href="amicus">падежи второго склонения</a>; <a class="crustulum non_implemente" href="gladius">Gladius</a>  и <a class="crustulum non_implemente" href="dux">Dux</a> являются более быстрой версией этого упражнения.
    </p>
<p class="indente">
      Но ты ознакоммился только с двумя склонениями. А их пять! Ты должен, для начала, научиться легко различать  <a class="crustulum non_implemente" href="modeles">виды склонений</a>.
      Затем следует постепенно выучить все склонения.
      Чтобы достичь этого, потребуется много времени и много <a class="crustulum non_implemente" href="decliner">упражнений</a>.
    </p>
<p class="indente">
      Изучение глагола строится следующим образом:
      Ты должен научиться легко определять, к какому <a class="crustulum non_implemente" href="modelesv">спряжению</a> относится тот или иной глагол.
      Следует упражняться в спряжении.
      Это упражнение поможет выучить активный и пассивный залог настоящего времени: <a class="crustulum non_implemente" href="ueho">Ueho, uehor</a>:
      <a class="crustulum non_implemente" href="ueho">Veho, uehor</a>.
      Все формы глагола в латинском языке образуются от трех основ: основы инфекта (от слова infectus,  "незаконченный"), перфекта (от слова perfectus, законченный) и супина: <a class="crustulum non_implemente" href="radicaux">три основы глагола</a>.
      Ты должен также научиться правильно понимать, что дает словарная статья при представлении глагола: <a class="crustulum non_implemente" href="primitifs">основные времена</a>.
      Начни с <a class="crustulum non_implemente" href="present">настоящего времени</a>.
      Прошедшее время использует основу перфекта и особые окончания.
      <a class="crustulum non_implemente" href="fui">Перфект глагола SUM</a> как пример.
      Примени этот принцип для работы с <a class="crustulum non_implemente" href="amaui">настоящим и прошедшим глагола AMO</a>.
      Теперь ты готов изучать <a class="crustulum non_implemente" href="ind_actif">Praesens indicativi activi</a>, это упражнение в несколько этапов: нужно усвоить Praesens, чтобы перейти к Futurum, потом к Imperfectum и т.д.
    </p>
<p class="sstitre"><a id="moyen">
	СРЕДНИЙ
    </a></p>
<p class="indente">
      Чтобы освежить в памяти склонения <a class="crustulum non_implemente" href="decl-ocius">DECL-OCIVS</a> подойдет лучше всего.
    </p>
<p class="indente">
      Чтобы углубить знания о значении падежей:
      <a class="crustulum non_implemente" href="fonctions">
	Значения падежей и их функции
      </a>.
    </p>
<p class="indente">
      Следует не только расширять свой словарь:
    </p>
<ul>
<li><a class="crustulum" href="uocesii">
	  CVIII существительных второго склонения
      </a></li>
<li><a class="crustulum" href="uocesiii">
	  CLXXXVI существительных третьего склонения
      </a></li>
<li><a class="crustulum" href="radicesiii">
	  основы слов третьего склонения
      </a></li>
<li><a class="crustulum" href="uocesiiib">
	  CLXXXVIII существительных третьего склонения с генитивом и родом
      </a></li>
<li><a class="crustulum" href="uocesiiii">
	  XLII существительных четвертого и пятого склонений
      </a></li>
</ul>
<p class="indente">
      ... но также и использовать его: <a class="crustulum non_implemente" href="valeurcas">CVI фраз для изучения</a>.
      Теперь crustula имеет несколько уровней.
      На первом уровне достаточно указать использованный падеж, а затем нужно поставить недостающее слово в правильном падеже.
      На следующем уровне не дается никаких подсказок.
      Нужно самому вставить недостающее слово.
    </p>
<p class="indente">
      Крустулюм <a class="crustulum" href="amatur">QVIS QVEM AMAT ?</a> познакомит тебя с пассивным залогом.
      <!-- Apprends à reconnaître Ab introduisant un complément d'agent et Ab introduisant un complément de lieu : <a class="crustulum" href="agent">Ab, le lieu et le passif</a>. -->
</p>
<p class="indente">
<a class="crustulum" href="partparf">Participium perfecti passivi</a> - форма очень частая в латинском языке.
    </p>
<!-- <p class="indente">
	 Apprends à distinguer et à employer <a class="crustulum" href="subjonctif">le subjonctif</a>.
	 </p> -->
<p class="indente">
      Из местоимений ты можешь изучить <a class="crustulum non_implemente" href="iseaid">is, ea, id</a> и <a class="crustulum non_implemente" href="relatifs">qui, quae, quod</a>.
    </p>
<p class="sstitre"><a id="avance">
	ПРОДВИНУТЫЙ
    </a></p>
<ul style="margin-top: 1ex;">
<li>
	Учимся использованию прилагательного bonus:
	<a class="crustulum non_implemente" href="bonus">
	  Bonus (длинные предложения, нужно правильно согласовать в падеже с существительным)
	</a>.</li>
<li><a class="crustulum non_implemente" href="cum">
	  Использование CUM
      </a></li>
<li><a class="crustulum non_implemente" href="dum">
	  Синтаксис для DUM
      </a></li>
<li>
	В <a class="crustulum non_implemente" href="orthographia">De orthographia (Flauius Caper)</a> найдешь краткий обзор представлений древних о грамматике.
      </li>
</ul>
</li>
<li><a id="morpho"><b>
	КРУСТУЛА ДЛЯ РАБОТЫ НАД СПРЯЖЕНИЕМ И СКЛОНЕНИЕМ
    </b></a>
<ul>
<li><a class="crustulum" href="gal">
	  Nominativus et accusativus
      </a></li>
<li><a class="crustulum non_implemente" href="amo">
	  amo, praesens indicativi
      </a></li>
<li><a class="crustulum" href="sum">
	  sum, praesens indicativi
      </a></li>
<li><a class="crustulum non_implemente" href="gen">
	  nominativus, genitivus
      </a></li>
<li><a class="crustulum non_implemente" href="dat">
	  nominativus, genitivus, dativus
      </a></li>
<li><a class="crustulum" href="nag12">
	  склонение: nom. acc. gen. sing. decl. 1 et 2masc.
      </a></li>
<li><a class="crustulum non_implemente" href="nag12p">
	  склонение: nom. acc. gen. decl. 1 et 2masc.
      </a></li>
<!-- <li><a class="crustulum" href="terra">
	   Première déclinaison et valeur des cas
	   </a></li> -->
<li><a class="crustulum non_implemente" href="amicus">
	  Второе склонение и значения падежей
      </a></li>
<li><a class="crustulum non_implemente" href="modeles">
	  учимся определять склонения
      </a></li>
<li><a class="crustulum non_implemente" href="decliner">
	  склоняем: постепенное обучение
      </a></li>
<li><a class="crustulum non_implemente" href="decl-ocius">
	  склоняем: быстрое продвижение
      </a></li>
<!-- <li><a class="crustulum" href="radicesiii">
	   radicaux des noms de la 3e déclinaison
	   </a></li> -->
<li><a class="crustulum non_implemente" href="modelesv">
	  типы спряжений
      </a></li>
<li><a class="crustulum non_implemente" href="ueho">
	  Veho, uehor: действительный и страдательный залог
      </a></li>
<li><a class="crustulum non_implemente" href="radicaux">
	  три основы глаголов
      </a></li>
<li><a class="crustulum non_implemente" href="primitifs">
	  основные формы глагола
      </a></li>
<li><a class="crustulum non_implemente" href="present">
	  praesens indicatvi
      </a></li>
<li><a class="crustulum non_implemente" href="ind_actif">
	  indicativi activi</a>, постепенное обучение
      </li>
<li><a class="crustulum non_implemente" href="subjonctif">
	  conjunctivi activi
      </a></li>
<li><a class="crustulum" href="partparf">
	  participium perfecti passivi
      </a></li>
<li><a class="crustulum non_implemente" href="fui">
	  прошедшее время SUM
      </a></li>
<li><a class="crustulum non_implemente" href="amaui">
	  amo, настоящее и прошедшее
      </a></li>
<li><a class="crustulum non_implemente" href="iseaid">
	  is, ea, id
      </a></li>
<li><a class="crustulum non_implemente" href="relatifs">
	  qui, quae, quod
      </a></li>
<li>
<a href="casus">CASVS</a> поможет тебе просклонять любое существительное в той форме, в какой тебе нужно.
	Он использует собственную лексику.
      </li>
</ul>
</li>
<li><a id="lexique"><b>
	КРУСТУЛА, РАСШИРЯЮТ ТВОЙ СЛОВАРЬ
    </b></a>
<ul>
<li><a class="crustulum non_implemente" href="noms5">
	  Существительные, которые нужно знать к концу 1 года
      </a></li>
<li><a class="crustulum non_implemente" href="adj5">
	  Прилагательные, которые нужно знать к концу 1 года
      </a></li>
<li><a class="crustulum non_implemente" href="verbes5">
	  Глаголы, которые нужно знать к концу 1 года
      </a></li>
<li><a class="crustulum non_implemente" href="adv5">
	  Наречия, которые нужно знать к концу 1 года
	</a><br/> </li>
<li><a class="crustulum non_implemente" href="noms4">
	  Существительные, которые нужно знать к концу 2 года
      </a></li>
<li><a class="crustulum non_implemente" href="adj4">
	  Прилагательные, которые нужно знать к концу 2 года
      </a></li>
<li><a class="crustulum non_implemente" href="verbes4">
	  Глаголы, которые нужно знать к концу 2 года
      </a></li>
<li><a class="crustulum non_implemente" href="adv4">
	  Наречия, которые нужно знать к концу 2 года
	</a><br/> </li>
<li><a class="crustulum non_implemente" href="noms3">
	  Существительные, которые нужно знать к концу 3 года
      </a></li>
<li><a class="crustulum non_implemente" href="adj3">
	  Прилагательные, которые нужно знать к концу 3 года
      </a></li>
<li><a class="crustulum non_implemente" href="verbes3">
	  Глаголы, которые нужно знать к концу 3 года
      </a></li>
<li><a class="crustulum non_implemente" href="adv3">
	  Наречия, которые нужно знать к концу 3 года
	</a><br/> </li>
<li><a class="crustulum non_implemente" href="voc1">
	  Словарь склонений 1 и 2 masc.
      </a></li>
<li><a class="crustulum" href="uoces">
	  LXXXXVI существительных первого склонения
      </a></li>
<!-- <li><a class="crustulum" href="uocesii">
	   CVIII noms de la deuxième déclinaison
	   </a></li>
      <li><a class="crustulum" href="uocesiii">
	  CLXXXVI noms de la troisième déclinaison
      </a></li>
      <li><a class="crustulum" href="radicesiii">
	  radicaux des noms de la 3e déclinaison
      </a></li>
      <li><a class="crustulum" href="uocesiiib">
	  CLXXXVIII noms de la troisième déclinaison, avec génitif et genre
      </a></li>
      <li><a class="crustulum" href="uocesiiii">
	  XLII noms des quatrième et cinquième déclinaisons
      </a></li> -->
<li><a class="crustulum non_implemente" href="orthographia">
	  De orthographia (Flauius Caper)
      </a></li>
</ul>
</li>
<li><a id="syntaxe"><b>
	КРУСТУЛА, ПОМОГАЮЩИЕ В РАБОТЕ С СИНТАКСИСОМ
    </b></a>
<ul>
<li><a class="crustulum" href="sov">
	  Подлежащее, дополнение, глагол
      </a></li>
<li><a class="crustulum" href="sov1">
	  Подлежащее, дополнение, глагол (попроще)
      </a></li>
<!-- <li><a class="crustulum" href="gal">
	   Nominatif et accusatif
	   </a></li>
      <li><a class="crustulum" href="gen">
	  nominatif, génitif
      </a></li>
      <li><a class="crustulum" href="dat">
	  nominatif, accusatif, datif
      </a></li> -->
<li><a class="crustulum" href="est_gen">
	  Кто кому друг?
      </a></li>
<!-- <li><a class="crustulum" href="sov2">
	   Sujet, objet, verbe (+ modèles en -er)
	   </a></li> -->
<li><a class="crustulum non_implemente" href="fonctions-fr">
	  введение в падежи: значения
      </a></li>
<li><a class="crustulum non_implemente" href="valeurk">
	  Quem casum ?
	</a> Какой падеж?</li>
<!-- <li><a class="crustulum" href="terra">
	   Première déclinaison et valeur des cas
	   </a></li>
      <li><a class="crustulum" href="amicus">
	  Deuxième déclinaison et valeur des cas
      </a></li>
      <li><a class="crustulum" href="fonctions">
	  Valeur des cas et fonctions
      </a></li> -->
<li><a class="crustulum non_implemente" href="valeurcas">
	  Определить падеж
      </a></li>
<!-- <li><a class="crustulum" href="ueho">
	   Veho, uehor : actif et passif
	   </a></li> -->
<li><a class="crustulum" href="amatur">
	  превращение активной формы в пассивную
      </a></li>
<li><a class="crustulum non_implemente" href="agent">
	  Ab, место и страдательный залог
      </a></li>
<!-- <li><a class="crustulum" href="sov3">
	   sujet, objet, verbe (+ 3e déclinaison)
	   </a></li> -->
<li><a class="crustulum non_implemente" href="sov4">
	  подлежащее, дополнение, глагол, praesens
      </a></li>
<li><a class="crustulum non_implemente" href="sov5">
	  подлежащее, дополнение, обстоятельство, глагол, praesens, imperfectum
      </a></li>
<li><a class="crustulum non_implemente" href="iseaid">
	  is, ea, id
      </a></li>
<li><a class="crustulum non_implemente" href="relatifs">
	  qui, quae, quod
      </a></li>
<li><a class="crustulum non_implemente" href="orthographia">
	  De orthographia (Flauius Caper)
      </a></li>
<li><a class="crustulum non_implemente" href="gladius">
	  Gladius (все падежи)
      </a></li>
<li><a class="crustulum non_implemente" href="dux">
	  Dux (все падежи)
      </a></li>
<li><a class="crustulum non_implemente" href="cum">
	  Синтаксис CUM
      </a></li>
<li><a class="crustulum non_implemente" href="dum">
	  Синтаксис DUM
      </a></li>
<!-- <li><a class="crustulum" href="bonus">
	   Bonus (phrases longues, chercher l'accord)
	   </a></li> -->
</ul>
</li>
<li><a class="crustulum non_implemente" href="indextxt" id="texte"><b>
	КРУСТУЛА, ПОМОГАЮЩИЕ ПРИ ЧТЕНИИ ТЕКСТА
  </b></a></li>
<li><a class="crustulum non_implemente" href="grasp" id="grasp">
      МЕТОД КЛОДА ПАВЮРА: GRASP
    </a>
<!-- Claude Pavur enseigne à L'Université de Saint-Louis, aux USA.
	 Il a imaginé cette méthode qui fait lire la phrase par étapes successives, en la compliquant progressivement, pour retrouver finalement la phrase authentique. -->
</li>
</ol>
{% endblock %}
