{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
Decl nom acc gen 1 2
{% endblock %}

{% block main_content %}
<p class="titre">
  DECLINATIONES I II, nom. acc. gen.
</p>
{% if priorQ %}
prior quaestio : {{ priorL }} <span class="juste"> {{ priorQ }}</span> <br/>
solutio : {{ sol }} <br/>
{% if recte %}
<div class="juste">RECTE !</div>
{% else %}
<div class="faux"> Errauisti. Respondisti {{ resp }}</div>
{% endif %}
{{ consec }} prius {{ prius }}.
{% endif %}
<p class="question">
  {{ lemme }} <br/>
  {{ quaestio }} ?
</p>
<form method="post">
  <p class="question">
    {% csrf_token %}
    <input class="question" type="text" name="resp"/>&nbsp;
    <input type="submit" value=" Num recte dixi ? "/>
    <input type="hidden" value="{{ lemme }}|{{ quaestio }} ?" name="priorQ">
  </p>
</form>

{% endblock %}
