{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
PARTICIPIA
{% endblock %}

{% block main_content %}
<p class="titre">
  PARTICIPIA
</p>
{% if priorQ %}
prior quaestio : {{ priorQ }} ?<br/>
solutio : {{ solutio }} <br/>
{% if recte %}
<div class="juste">RECTE !</div>
{% else %}
<div class="faux"> Errauisti. Respondisti {{ resp }}</div>
{% endif %}
{{ consec }} prius {{ prius }}.
{% endif %}
<p class="question">
  {{ quaestio|safe }} ?
</p>
<form method="post">
  <p class="question">
    {% csrf_token %}
    <input class="question" type="text" name="resp"/>&nbsp;
    <input type="submit" value=" Num recte dixi ? "/>
    <input type="hidden" value="{{ quaestio }}" name="priorQ">
    <input type="hidden" value="{{ schema }}" name="schema">
  </p>
</form>

{% endblock %}
