{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
RADICES III
{% endblock %}

{% block main_content %}
<p class="titre">
  RADICES III
</p>
{% if priorQ %}
Prior quaestio : {{ priorQ }}<br/>
solutio : {{ s }} <br/>
{% if recte %}
<div class="juste">RECTE !</div>
{% else %}
<div class="faux"> Errauisti. Respondisti {{ resp }}</div>
{% endif %}
{{ facta }} cognita, {{ discenda }} discenda.
{% if not discenda %}
Omnia uerba nouisti.
{% endif %}
{% endif %}
<p class="question">
  {{ quaestio }}
</p>
<form method="post">
  <p class="question">
    {% csrf_token %}
    <input class="question" type="text" name="r"/>&nbsp;
    <input type="submit" value=" Num recte dixi ? "/>
    <input type="hidden" name="priorQ" value="{{ latine }}"/>
    <input type="hidden" name="cognita" value="{{ cog }}"/>
  </p>
</form>

{% endblock %}
