{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
SOV
{% endblock %}

{% block main_content %}
    <p class="titre">
      QVIS QVEM AMAT ?
    </p>
    {% if priorsent %}
    prior sententia : {{ priorsent }} <br>
    {{ lingue }} : {{ gallice }} <br>
    {% if recte %}
    <div class="juste">RECTE !</div>
    {% else %}
    <div class="faux"> Errauisti. Respondisti {{ resp }}</div>
    {% endif %}
    {{ consec }} prius {{ prius }}.
    {% endif %}
    <p class="question">{{ question }}</p>
    <form method="post">
      {% csrf_token %}
      <p class="question">
	<input type="submit" name= "resp" value="{{ r1 }}" class="question"/><br /><br />
	<input type="submit" name= "resp" value="{{ r2 }}" class="question"/><br /><br />
	<input type="hidden" name="sententia" value="{{ question }}"/>
    </form>
{% endblock %}
