{% load static %}
<!DOCTYPE html>
<html lang="lt" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <title>CRVSTVLA - SOV</title>
    <link rel="stylesheet" href="{% static 'crustula/crustula.css' %}" type="text/css">
    <link rel="icon" href="{% static 'crustula/favicon.ico' %}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Crustula, exercices latins">
    <meta name="keywords" content="Latin, latin, exercice, exercices, exercise, exercises, Crustula, crustula">
  </head>
  <body>
    <h1>
      Me paenitet, in Pythone hoc crustulum nondum creatus est.
    </h1>
    <p class="redi"><a href='./'>reditus</a> <a href="gpl.html" target="gpl">Licentia GPL</a></p>
  </body>
</html>

