{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
SOV II
{% endblock %}

{% block main_content %}
<p class="titre">
  QVIS QVEM AMAT ?
</p>
{% if correct %}
<p>
  prior sententia : {{ prior_sententia }}<br>
  gallice : {{ correct }}
  {% if recte %}
  <div class="juste">RECTE !</div>
  {% else %}
  <div class="faux"> Errauisti. Respondisti « {{ resp }} »</div>
  {% endif %}
  {{ consec }} prius {{ prius }}.
</p>
{% endif %}
<p class="question">
  {{ sententia }}
</p>
<form method="post">
  {% csrf_token %}
  <p class="question">
    <select name="respS">
      {% for el in nomina %}
      <option value="{{el.nomGallice}}"> {{el.nomGallice}} </option>
      {% endfor %}
    </select>
    {{ verbe }}
    <select name="respO">
      {% for el in nomina %}
      <option value="{{el.accGallice}}"> {{el.accGallice}} </option>
      {% endfor %}
    </select>
    <input type="submit" value=" Num recte dixi ?" />
    <input type="hidden" name="meta" value="{{ meta }}" />
    <input type="hidden" name="schema" value="{{ schema }}" />
  </p>
</form>

{% endblock %}
