{% extends "crustula/base-crustula.html" %}

{% block subtitle %}
SUM
{% endblock %}

{% block main_content %}
    <p class="titre">
      QVIS, QVIS EST ?
    </p>
    {% if priorsent %}
    prior sententia : {{ priorsent }} <br>
    {% if recte %}
    <div class="juste">RECTE ! Respondisti : {{ resp }}</div>
    {% else %}
    Latine : {{ sentLatine }}<br> 
    <div class="faux"> Errauisti. Respondisti : {{ resp }}</div>
    {% endif %}
    {{ consec }} prius {{ prius }}.
    {% endif %}
    <p class="question">{{ question }}</p>
    <form method="post">
      {% csrf_token %}
      <p class="question">
	<input type="text" name= "r" class="question"/><br /><br />
	<input type="hidden" name="schema" value="{{ schema }}"/>
    </form>
{% endblock %}
